{% extends 'layout.html' %}

{% block content %}
        <div class="card">
          <div class="card-header"><i class="fa fa-align-justify"></i>Post List:</div>
          <div class="card-body">
             <table class="table table-responsive-sm table-bordered table-striped table-sm">
                <thead>
                   <tr>
                      <th>Sl No.</th>
                      <th>Results</th>
                   </tr>
                </thead>
                <tbody>
                {% for obj in objs %}
                   <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>[{{ obj.search_keyword }}] keyword {{ forloop.counter }} ({{ obj.name_count }} times found)</td>
                   </tr>
                {% endfor %}
                </tbody>
             </table>
          </div>
       </div>

{% endblock %}
