{% extends 'layout.html' %}
{% load static %}
{% block content %}
<section class="site-section py-sm">
   <div class="container py-5">
      <h2 class="mb-4">Latest Posts</h2>
      <div class="row blog-entries">
         {% for post in posts %}
         <div class="col-md-4">
            <a href="#" class="blog-entry element-animate fadeIn element-animated text-center"
               data-animate-effect="fadeIn">
               {% if post.img %}
               <img src="{{ post.img.url }}" alt="Image placeholder">
               {% else %}
               <img class="text-center" src="{% static 'img/bag.png' %}" alt="Image placeholder">
               {% endif %}
               <div class="blog-content-body">
                  <div class="post-meta">
                     <span class="mr-2">March 15, 2018 </span> •
                     <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                  </div>
                  <h2>{{ post.title }}</h2>
               </div>
            </a>
         </div>
         {% endfor %}
      </div>
   </div>
</section>
{% endblock %}