<!DOCTYPE html>
<html lang="en">
   {% include 'head.html' %}

<body class="app header-fixed">
<!--Navbar-->

<div class="app-body">
    <!--Sidebar-->
    {% include 'header.html' %}

    <!-- Main content -->
    <main class="main">

        <!-- Page contents -->
        <div class="container-fluid">
            <div class="animated fadeIn py-5">
                {% block content %}
                {% endblock %}
            </div>

        </div>
        <!-- /.conainer-fluid -->
    </main>
   <footer class="site-footer">
    <h4 class="text-white text-center">Footer Section</h4>
   </footer>

</div>
{% include 'js.html' %}
</body>

</html>